[user]
    name = Jonathas Rodrigues
    email = jonathasrc96@gmail.com
    username = dom
[core]
    editor = nvim
    excludesfile = ~/.gitignore
[color]
    ui = true
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[push]
    default = matching
[pull]
    rebase = true
